<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link href="lib/remixicon/fonts/remixicon.css" rel="stylesheet">
      <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="lib/aos/dist/aos.css" rel="stylesheet">
      <link href="css/main.css" rel="stylesheet">
      <!-- CSS and other elements based on: https://htmltemplates.co/free-html5-templates/defolio-free-bootstrap-resume-html-template -->
    <title>Matthew Connley - Experienced Technology Leader</title>
    <meta name="description" content="Matthew Connley is an experienced engineer and technology leader based in Chicago with a broad range of skills including software development, enterprise architecture, infrastructure automation, DevOps, and SRE.">
</head>
<body>
    @RenderBody()
    <footer class="ds-footer text-center">
        <span class="ds-copyright">© 2022 @await Component.InvokeAsync("SiteCountComponent")</span>
        </div>
    </footer>


    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>