<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="nexus" value="https://nexus.mattconnley.com/repository/nuget-group/index.json" />
    </packageSources>
</configuration>