@page
@model IndexModel
@{
    ViewData["Title"] = "Matthew Connley - Experienced Technology Leader";
}
@await Component.InvokeAsync("GoogleTagMgrBodyComponent")
<header class="ds-header" id="site-header">
    <div class="container">
        <div class="ds-header-inner">
            <a href="/" class="ds-logo">
            <span>MC</span>Matthew Connley
            </a>
            <ul class="ds-social">
            <li><a href="https://blog.connley.net" aria-label="Read my blog"><i class="ri-newspaper-fill"></i></a></li>
            <li><a href="https://www.github.com/mconnley" aria-label="Check out my GitHub repos" target="_blank"><i class="ri-github-fill"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mattconnley/" aria-label="Find me on LinkedIn" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="ds-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure>
                <img alt="Matt Connley profile picture" src="images/profile-image.jpg" width="526" height="378">
            </figure>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <section>
                    <h1>
                        <span>Hi there</span>
                        I’m Matt Connley,<br>an experienced IT leader and innovator based in Chicago
                    </h1>
                    <ul class="ds-numbervalulist">
                        <li>
                        <strong>25+</strong>
                        <span>Years Experience</span>
                        </li>
                        <li>
                        <strong>5</strong>
                        <span>Industries</span>
                        </li>
                        <li>
                        <strong>9</strong>
                        <span>Happy Employers</span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("LatestBlogComponent")

<div class="ds-about-section">
    <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            <p>I've been fascinated by technology for as long as I can remember.</p>
            <p>Growing up, I loved to take things apart and put them back together. Tinkering with radios, cassette players, other various gadgets, toys, and of course Legos was part of my everyday fun. Soon PCs gained my interest, and while I may not have known it at the time, it was the start of an enduring desire to figure out how things work -- and find ways to make them work better.</p>
            <p>I began my career relatively early, starting my first job at a local ISP when I was 16. Since then I've worked in a number of environments, ranging from small-town startups to global enterprises. I take great pride and pleasure in building creative, innovative solutions to the real-world problems I come across, and never turn down the chance to help make businesses more effective and efficient at what they do, no matter how daunting the challenge.</p>
            <p>Over the course of my career, I've cultivated a diverse work background that spans engineering, architecture, and technical leadership. I've developed highly-available, highly-parallel, service-oriented applications supporting functions such as infrastructure and business process monitoring, trading operations, and centralized systems management. I also led the delivery of a private cloud platform and am currently the principal architect on an enterprise-wide observability program.</p>
            <p>I pride myself on being as full-stack an engineer as I can, from the user experience all the way down "to the metal."</p>
            <p> To me, technology is more than a career; it's something I love and a life-long passion that I'm lucky enough to pursue every day. Despite the fact that I've been in this field for over two decades, according to that old adage, I've never really worked a day in my life.</p>
            <div class="ds-button-sec text-center">
                <a href="resume1124/matthew-connley-resume-short-1124.pdf" class="ds-button">My Resume</a>
            </div>
        </section>
    </div>
</div>

<div class="ds-skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">High-Level Skills</h2>
                <ul class="ds-skills-list">
                    <li>Application Development</li>
                    <li>Infrastructure Engineering and Automation</li>
                    <li>Monitoring & Observability</li>
                    <li>SRE</li>
                    <li>Private & Public Cloud</li>
                    <li>DevOps</li>
                    <li>Product Management</li>
                    <li>ITSM</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Technical Skills</h2>
                <ul class="ds-skills-list">
                    <li>Windows and Linux OS</li>
                    <li>Load Balancing, Network Automation and Fundamentals/DDI</li>
                    <li>VMWare vSphere/Aria Suite</li>
                    <li>IIS, Active Directory</li>
                    <li>.NET (C#), ASP.NET/Core, MVC, REST, WPF/WCF, MVVM</li>
                    <li>SQL Server, PostgreSQL, MySQL, MongoDB, InfluxDB, Prometheus</li>
                    <li>Kubernetes, Rancher, Azure, AWS, GCP, SaltStack, Packer, Docker Helm</li>
                    <li>Splunk, Grafana Stack, Telegraf, OpenTelemetry</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Non-Technical Skills</h2>
                <ul class="ds-skills-list">
                    <li>Excellent Written Communication</li>
                    <li>Collaborative, Empathetic, Team-Oriented Mindset</li>
                    <li>Relationship Builder</li>
                    <li>Strong Presentation/Speaking Ability</li>
                    <li>Deep Curiousity and Life-Long Passion for Technical Problem Solving</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Certifications</h2>
                <ul class="ds-skills-list">
                    <li>Microsoft Azure Fundamentals/AZ-900 - 2022</li>
                    <li>Lean IT Foundation - 2018</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h2 class="ds-heading">Other Interests</h2>
                    <ul class="ds-skills-list">
                        <li>Home Labbing</li>
                        <li>Home Automation</li>
                        <li>Sailing</li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>