@page
@model IndexModel
@{
    ViewData["Title"] = "Matthew Connley - Experienced Technology Leader";
}

<header class="ds-header" id="site-header">
    <div class="container">
        <div class="ds-header-inner">
            <a href="index.html" class="ds-logo">
            <span>MC</span>Matthew Connley
            </a>
            <ul class="ds-social">
            <li><a href="https://www.github.com/mconnley" target="_blank"><i class="ri-github-fill"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mattconnley/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="ds-banner">
    <div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
        <figure>
            <img src="images/profile-image.jpg">
        </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section>
            <h1>
                <span>Hi there</span>
                I’m Matt Connley,<br>an experienced IT leader and innovator based in Chicago
            </h1>
            <ul class="ds-numbervalulist">
                <li>
                <strong>25+</strong>
                <span>Years Experience</span>
                </li>
                <li>
                <strong>5</strong>
                <span>Industries</span>
                </li>
                <li>
                <strong>9</strong>
                <span>Happy Employers</span>
                </li>
            </ul>
        </section>
        </div>
    </div>
    </div>
</div>

<div class="ds-about-section">
    <div class="container">
    <section>
        <h2 class="ds-heading">About Me</h2>
        <p>I've been fascinated by technology for as long as I can remember.</p>
        <p>Growing up, I loved to take things apart and put them back together. Tinkering with radios, cassette players, other various gadgets, toys, and of course Legos was part of my everyday fun. Soon PCs gained my interest, and while I may not have known it at the time, it was the start of an enduring desire to figure out how things work -- and find ways to make them work better.</p>
        <p>I began my career relatively early, starting my first job at a local ISP when I was 16. Since then I've worked in a number of environments, ranging from small-town startups to global enterprises. I take great pride and pleasure in building creative, innovative solutions to the real-world problems I come across, and never turn down the chance to help make businesses more effective and efficient at what they do, no matter how daunting the challenge.</p>
        <p>Over the course of my career, I've cultivated a diverse work background that spans engineering, architecture, and technical leadership. I've developed high-availability, highly-parallel, service-oriented applications supporting functions such as infrastructure and business process monitoring, trading operations, and centralized systems management. I also led the delivery of a private cloud platform and am currently the principal architect on an enterprise-wide observability program.</p>
        <p>I pride myself on being as full-stack an engineer as I can, from the user experience all the way down "to the metal."</p>
        <p> To me, technology is more than a career; it's something I love and a life-long passion that I'm lucky enough to pursue every day. Despite the fact that I've been in this field for over two decades, according to that old adage, I've never really worked a day in my life.</p>
        <div class="ds-button-sec text-center">
            <a href="resumeshort/matthew-connley-resume-short.pdf" class="ds-button">Download Short Form Resume</a>
        </div>
        <br>
        <div class="ds-button-sec text-center">
            <a href="resumelong/matthew-connley-resume-long.pdf" class="ds-button">Download Long Form Resume</a>
        </div>
    </section>
    </div>
</div>

<div class="ds-skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">High-Level Skills</h2>
                <ul class="ds-skills-list">
                    <li>Software Development</li>
                    <li>Enterprise Architecture</li>
                    <li>Technical Leadership and Mentoring</li>
                    <li>SRE</li>
                    <li>DevOps</li>
                    <li>Infrastructure Automation</li>
                    <li>Monitoring and Observability</li>
                    <li>Cloud Migration</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Technical Skills</h2>
                <ul class="ds-skills-list">
                    <li>.NET/C#</li>
                    <li>VMWare vSphere/vRealize Suite including vRA</li>
                    <li>Windows, IIS, Active Directory</li>
                    <li>Linux</li>
                    <li>ASP.NET/Core, MVC, RESTful services</li>
                    <li>WCF and WPF</li>
                    <li>SQL Server, PostgreSQL, MySQL</li>
                    <li>SaltStack</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Non-Technical Skills</h2>
                <ul class="ds-skills-list">
                    <li>Excellent Written Communication</li>
                    <li>Collaborative, Team-Oriented Mindset</li>
                    <li>Relationship Builder</li>
                    <li>Strong Presentation/Speaking Ability</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Certifications</h2>
                <ul class="ds-skills-list">
                    <li>Microsoft Azure Fundamentals/AZ-900 - 2022</li>
                    <li>Lean IT Foundation - 2018</li>
                    <li>Microsoft Certified Systems Administrator - 2005 (expired)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Other Interests</h2>
                <ul class="ds-skills-list">
                    <li>Sailing</li>
                    <li>Home Labbing</li>
                    <li>Home Automation</li>
                    <li>Baseball</li>
                </ul>
            </div>  
        </div>
    </div>
</div>
</div>

<div class="ds-experience-section">
    <div class="container">
    <h2 class="ds-heading">Recent Work Experience</h2>
        <div class="row ds-experience-list">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                <span class="ds-year">August 2021 - Present</span>
                <h3 class="ds-officename">U.S. Bank</h3>
                <span class="ds-department">Vice President - Lead Software Engineer</span>
                <p>I'm leading the engineering and architecture of the bank's effort to implement effective enterprise-wide logging and observability, and also assisting in its public cloud migration.</p>
                <ul>
                    <li>Developed and published standards-based logging framework and guidelines for use in applications across the enterprise</li>
                    <li>Leading a cross-functional team to automate manual onboarding/maintenance processes</li>
                    <li>Delivered a design to provide deeper visibility into HTTP-based transactions</li>
                    <li>Liasing with and assisting the team implementing a next-gen, public cloud-based application development and hosting platform</li>
                </ul>
                </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                <span class="ds-year">2006 - 2021</span>
                <h3 class="ds-officename">Charles Schwab / optionsXpress</h3>
                <span class="ds-department">Principal Engineer/Technical Director</span>
                <p><i>CEO Award Recipient – Charles Schwab 2019</i></p>
                <p><i>Most Innovative Employee Award Recipient – optionsXpress 2011</i></p>
                <p>At optionsXpress and then Schwab, I strived to bring innovation to everything I did.</p>
                <p>At oX, that meant building new monitoring and management tools and developing some more effective applications for our brokers to handle issues that arose with orders. These tools allowed the dev, devops/SRE, and business teams to focus on features and do more with less.</p>
                <p>After oX was acquired by Schwab, my focus shifted to infrastructure automation. I was fortunate to act as technical lead on a program that built a private cloud platform which delivered in 30 minutes compute resources that previously took 60-90 days. I also worked to help teams integrate that IaaS toolset into their CI/CD pipelines using Infrastructure as Code principles.</p>
                <ul>
                    <li>As Technical Director/Principal Engineer, designed all significant aspects of end-to-end IaaS solution using vRealize Automation, custom UI/REST API, SaltStack, and a number of custom solutions</li>
                    <li>Acted as technical lead on the implementation and integration of the IaaS platform with cross-funtional teams and application teams</li>
                    <li>Principal or sole developer of a number of applications, including monitoring and control plane software, trade desk applications, and back-office automation tools</li>
                </ul>
                </section>
            </div>
        </div>
    </div>
</div>